body {
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px 10px 30px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

ul {
  list-style: none;
}

h1 {
  margin-bottom: 30px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  border: none;
  color: black;
}
.btn-1:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-1:hover {
  color: white;
}
.btn-1:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-1:active {
  top: 2px;
}

.btn-go-back {
  width: 80px;
  height: 40px;
  margin: 10px;
  padding: 10px;
}

.btn-nav {
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 10px;
}

.btn-task {
  width: 120px;
  height: 40px;
  margin: 10px;
  padding: 10px;
}

.btn-add-task {
  width: 180px;
  height: 40px;
  margin: 10px;
  padding: 10px;
}

.wrapper-main {
  display: flex;
}

.list-main {
  margin-right: 50px;
}

.wrapper {
  display: flex;
}

.wrapp-task {
  margin-right: 100px;
}
