body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}

.mainBlock {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.blockProduct {
  background-color: aliceblue;
  border: 1px solid #80808033;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blockProduct:hover {
  border: 5px solid green;
}

.conditionGoogsBlock {
  width: max-content;
  padding: 5px;
  border-radius: 20px;
}

.notSaleProduct {
  background-color: rgb(236, 182, 33);
}

.saleProduct {
  background-color: red;
}

.conditionGoogs {
  font-size: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.productImage {
  width: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.priceProduct {
  font-size: 30px;
  color: red;
}
