.feedback-form {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #00aced;
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #00aced;
}

.feedback-form input {
  height: 30px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

.btn-wrap button {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
}

td {
  width: 70px;
  height: 70px;
  background-color: yellow;
  color: #00aced;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
}
